@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@400;500;600;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@400;500;600;700&display=swap'); */

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/backoffice/public/static/fonts/IBMPlexSansThai-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/backoffice/public/static/fonts/IBMPlexSansThai-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/backoffice/public/static/fonts/IBMPlexSansThai-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans Thai';
  src: url('/backoffice/public/static/fonts/IBMPlexSansThai-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

.card-login {
  background-color: rgb(255, 255, 255);
}

.bg-login {
  background-image: url('/backoffice/public/bg01.jpeg');
  height: 100vh;
  width: 100%;
}

.layout-loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-login {
  width: 100%;
  max-width: 600px;
  height: 100%;
}

.mainBg {
  background-color: #f5f3f7;
}
/* .css-sghohy-MuiButtonBase-root-MuiButton-root {
  background-color: #e69fff !important;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #d079ea !important;
} */

/* .css-1c2i806-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #d079ea !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:after {
  border-color: #d079ea !important;
}

.css-v4u5dn-MuiInputBase-root-MuiInput-root:before {
  border-color: #d079ea !important;
} */

.Mui-required {
  color: red !important;
}

/* #b040d3 */

.MuiTabs-flexContainer {
  justify-content: center;
}

/* .iconPage {
  color: '#FFFFFF';
  background-color: '#FFFFFF';
  padding: '4px';
  border-radius: '4px';
  margin-top: 'auto';
  margin-bottom: 'auto';
  font-size: '20px';
  border: '2px solid #E9E4ED' !important;
  cursor: pointer;
} */

.iconPage:hover {
  color: white !important;
  background-color: #a78bfa !important;
  border: '1px solid #red';
}

body {
  font-family: 'IBM Plex Sans Thai', sans-serif !important;
  margin: 0px !important;
  height: '100%';
}

.ant-menu {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important; /* Centers menu items along Y-axis */
}

.ant-menu-item {
  display: flex !important;
  align-items: left !important; /* Centers icon and label vertically */
  justify-content: left !important; /* Centers icon and label horizontally */
}

.ant-menu-item-icon {
  margin-block: auto !important;
}

.ant-menu-title-content {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: 'opacity 1s ease-in';
}
